body {
  margin: 0px;
  font-family: "Barlow", sans-serif;
}

/* CARRUSEL */

/* Div especial */
.container-div--special {
  width: 100%;
  /* height: 500px; */
  position: relative;
}

.div-border-left-rounded {
  border-left: 1px solid #fff;
  border-radius: 100px 0px 0px 0px;
}

.superimpose-top {
  position: relative;
  top: -90px;
  left: 0px;
  width: 100%;
  /* height: 100px; */
  background: #ffffff;
  padding: 30px 0 0 15px;
}

/* Carrusel transitionComplete */
.carrusel-sura--transitionComplete{
  position: relative;
  /* min-height: 20vh; */
  /* height: 60vh; */
  width: 100%;
}

.transitionComplete-title-main {
  font-size: 1.7em;
  font-weight: 800;
  text-align: left;
  margin-bottom: 0px;
  font-style: italic;
  line-height: 1;
}

.transitionComplete-title-sub {
  font-size: 1.1em;
  font-weight: 800;
  text-align: left;
  margin-bottom: 0px;
  line-height: 1.5;
}

.transitionComplete-title-paragraph {
  font-size: 1.1em;
  font-weight: 400;
  text-align: left;
  margin-bottom: 25px;
  line-height: 1.5;
}

.carrusel-sura-items {
  position: relative;
}

.transitionComplete-item {
    width: 100%;
    margin: 30px auto 0 auto;
    position: relative;
    z-index: 1;
}

.transitionComplete-img{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.arrow-carrusel {
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 2;
}

.transitionComplete-arrow--right {
  right: 0px;
  transform: rotate(45deg);
  border-radius: 3px 10% 3px 0;
  border-top: 4px solid #C6C6C6;
  border-right: 4px solid #C6C6C6;
}

.transitionComplete-arrow--left {
  left: 0px;
  transform: rotate(-45deg);
  border-radius: 3px 0 3px 10%;
  border-top: 4px solid #C6C6C6;
  border-left: 4px solid #C6C6C6;
}

.arrow-disabled {
  opacity: 0.5;
  cursor: default;
}

.transition {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: green;
  z-index: 15;
  opacity: 1;
}

.carrusel-main-enter-active {
  animation: bounce-in .5s;
}
.carrusel-main-leave-active > * {
  opacity: 0;
}

@keyframes bounce-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* CARRUSEL MULTIPLES CARD WITH DROP */
.rounded-card-sura {
  border-radius: 1.4rem!important;
}

.arrow-carrusel-container-left {
  position: absolute;
  top: 27%;
  left: -10px;
  cursor: pointer;
}

.arrow-carrusel-container-right {
  position: absolute;
  top: 27%;
  right: -10px;
  cursor: pointer;
}

.background-arrow-left, .background-arrow-right {
  z-index: 1;
  width: 33px;
  height: 70px;
  position: relative;
}
/* .background-arrow-left {
  transform: rotateZ(180deg);
} */
/* .background-arrow-right, .background-arrow-left > img {
  height: 100%;
  display: none;
} */
    
  .arrow-carrusel--sub {
    position: absolute;
    top: -7%;
    margin-top: 15px;
    z-index: 3;
    width: 35px;
    height: 35px;
  }

.iconTop-middle {
  position: absolute;
  top: -29px;
  /* left: 42%; */
  width: 54px;
  height: auto;
  left: 50%;
  margin-left: -27px;
}

.arrowDrop {
  max-height: 24px;
  text-align: center;
  cursor: pointer;
}
.arrowDrop > img {
  width: 8%;
  max-height: 18px;
}

.csel-card-drop-text {
  animation: transitiontext .8s linear;
}

.text-center, .btn-up {
  animation: opacity .5s ease-in;
}

.btn-down {
  transform: rotate(180deg);
}

.text-left {
  animation: movetext .5s ease-out;
}

.btn-down {
  animation: rotatearrow .5s ease-out;
}

@keyframes rotatearrow {
  0% {
    transform: rotate(0deg)scale(1);
  }
  50% {   
    transform: rotate(90deg)scale(1.2);
  }
  100% {
    transform: rotate(180deg)scale(1);
  }
}

@keyframes movetext {
  0% {
    transform: translateX(22%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes transitiontext {
  0% {
    transform: translateY(14%);
    opacity: 0;
  }
  50% {   
    transform: translateY(7%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.groupcards-item {
  display: inline-block;
}

.groupcards-enter-active, .list-leave-active {
  transition: all 1s;
}

.groupcards-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

/* mobile */

@media screen and (max-width: 768px) {

  .transitionComplete-arrow--left {
    left: 20px
  }
  .transitionComplete-arrow--right{
    right: 20px
  }

  .arrow-carrusel-container-left{
    left: -48px;
  }

  .arrow-carrusel-container-right{
    right: -48px;
  }

  .arrow-carrusel--sub.transitionComplete-arrow--right{
    top: 8px;
    right: 5px;
    width: 26px;
    height: 26px;
  }

  
  .arrow-carrusel--sub.transitionComplete-arrow--left{
    top: 8px;
    left: 5px;
    width: 26px;
    height: 26px;
  }

  .background-arrow-left {
    background: #0033A0;
    border-radius: 0px 50px 50px 0%;
    cursor: pointer;
  }

  .background-arrow-right {
    background: #0033A0;
    border-radius: 50px 0px 0px 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  .bck-aqua {
    padding-bottom: 0rem !important;
  }

  .arrow-carrusel-container-left{
    left: 24vw;
    top: 98%;
  }

  .arrow-carrusel-container-right{
    right: 24vw;
    top: 98%;
  }

  .arrow-carrusel--sub.transitionComplete-arrow--right{
    top: 8px;
    right: 25px;
    width: 26px;
    height: 26px;
  }
  
  .arrow-carrusel--sub.transitionComplete-arrow--left{
    top: 8px;
    left: 25px;
    width: 26px;
    height: 26px;
  }

  .background-arrow-left {
    background: #0033A0;
    border-radius: 50%;
    cursor: pointer;
    width: 70px;
  }

  .background-arrow-right {
    background: #0033A0;
    border-radius: 50%;
    cursor: pointer;
    width: 70px;
  }

  .arrow-carrusel {
    top: 81vw;
  }

  .transitionComplete-item{
    min-height: 510px;
  }

  .transitionComplete-img {
    width: 75%;
  }

  .transitionComplete-content-img {
    text-align: center;
  }

  .block-button-pad{
    background: #00AEC7;
    height: 181px;
    width: 100%;
  }

  .superimpose-top {
    top: -35px;   
  }

  .div-border-left-rounded {
    border-radius: 47px 0px 0px 0px;
  }
}

/* END CARRUSEL */

/* estilos globales necesarios */
.text-blue {
  color: #0033A0;
}

.text-aqua {
  color: #00AEC7;
}

.text-gray {
  color: #706F6F;
}

.bck-aqua {
  background: #00AEC7;
  padding-bottom: 6rem !important;
}

.position--absolute {
  position: absolute !important;
}