/* Footer */
footer img {
  max-width: 113px;
}

footer p {
  display: block;
  font-family: 'Barlow', sans-serif;
  /* font-size: 18px; */
  /* color: #53565A; */
  font-weight: normal;
  line-height: normal;
  /* text-align: left; */
  padding: 0px;
  /* text-decoration: none !important; */
}

footer p a {
  /* text-decoration: inherit !important; */
  /* color: inherit !important; */
  font-family: inherit !important;
  font-weight: 600;
}

footer .items-socialNetwork {
  align-self: center;
}

footer .footer-icon-ctn svg,
footer .footer-icon-ctn a {
  height: 42px;
  /* font-size: 24px; */
  padding: 4px 0px;
  text-decoration: none;
  /* color: #53565A; */
}

footer .policies a {
  color: #0033a0;
  font-weight: 500;
  margin-bottom: 0px !important;
  text-decoration: underline;
}

/* end footer */